/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#map-container {
    width: 80%;
    margin-bottom: 20px;
}

#map {
    border: 2px solid #4CAF50;
    border-radius: 10px;
}

#generate-video-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#generate-video-btn:hover {
    background-color: #45a049;
}

#video-container {
    width: 80%;
    text-align: center;
}

#back-to-map-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#back-to-map-btn:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
